@Styles.Render("~/Content/Index.css")
@{
    ViewBag.Title = "ConohaDoc";
    ViewBag.User = ViewBag.user;
    Layout="~/Views/Shared/_Layout2.cshtml";
}
<div class="VM-add">
    <p>トークン：<span class="text-info">@ViewBag.Token</span></p>
    <p>エンドポイント情報：<span class="text-primary">@ViewBag.VMurl/servers</span></p>
    <p>
        <a href="@Url.Action("VMadd")" class="btn btn-primary" role="button">VM追加</a>
        (512MB,CentOS7.6(64bit))
    </p>
    <h3 class=@ViewBag.Color>@ViewBag.Message</h3>
</div>

<div class="dns">
    <p>エンドポイント情報：<span class="text-primary">@ViewBag.DNSurl/domains </span></p>
    <p><a href="https://www.conoha.jp/docs/paas-dns-create-domain.html" class="btn btn-info" role="button">ドメイン作成</a></p>
</div>

<div class="mail">
    <p>エンドポイント情報：<span class="text-primary">@ViewBag.Mailurl/services</span> </p>
    <a href="https://www.conoha.jp/docs/paas-mail-create-mail-service.html" class="btn btn-info" role="button">メールサービス作成</a>
</div>


